---
import { ClientRouter } from "astro:transitions";
import Navbar from "../components/Navbar.astro";

import '../styles/global.css';

interface Props {
	title: string;
	name: string;
}

const { title, name } = Astro.props;
---

<html lang="es">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>

		<!-- <link rel="stylesheet" href="styles/global.css" />
		<link rel="stylesheet" href="styles/404.css" /> -->
		
		<ClientRouter />
	</head>
	<body>

		<Navbar />
		
        <main>
			<h1>{name}</h1>

            <slot />
        </main>
	</body>
</html>